* {
  @include box-sizing(border-box);
  outline: none;
}

/*=============================================================================
  TAGS
=============================================================================*/
html {
  color: $text-color;
  font-family: $font-family;
  font-size: $font-size;
  line-height: 1;

  @include respond-to('desktop') {
    font-size: $font-size-tablet;
  }

  @include respond-to('phone') {
    font-size: $font-size-phone;
  }
}

body{
  background: #fff;
}

a {
  text-decoration: none;
}

section {
  max-width: $max-page-width;
  margin: 0 auto;
}

h1 {
  @include text-overflow;
  width: 229px;
  height: 120px;
  margin: 0 auto;
  background: image-url('role_logo.png') no-repeat 0 0;
  background-size: 229px;
  height: 120px;

  @include respond-to('tablet-small') {
    position: relative;
    top: -18px;
  }

  @include respond-to('phone') {
    top: auto;
  }
}

h2 {
  margin: 0 0 30px;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.2;

  @include respond-to('desktop') {
    font-size: 1.5rem;
  }

  @include respond-to('phone') {
    font-size: 1.33rem;
  }
}

p {
  margin: 0;
  letter-spacing: 1px;
  line-height: 1.2;
}

input {
  -webkit-appearance: none
}

/*=============================================================================
  HELPERS
=============================================================================*/
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gray {
  color: $gray;
}

.green {
  color: $green;
}

.ocean {
  color: $ocean;
}

.peach {
  color: $peach;
}

.pink {
  color: $pink;
}

.red {
  color: $red;
}

/*=============================================================================
  HEADER
=============================================================================*/
#page-header {
  padding-top: 18px;
  height: 262px;

  @include respond-to('desktop') {
    padding-left: 10px;
    padding-right: 10px;
  }

  @include respond-to('tablet-small') {
    height: 190px;
  }

  @include respond-to('phone') {
    height: 244px;
  }
}

.navbar {
  @include alt-clearfix;
  margin-bottom: 16px;

  @include respond-to('tablet-small') {
    margin-bottom: 0;
  }

  @include respond-to('phone') {
    margin-bottom: 34px;
  }
}

.navbar-left {
  float: left;
}

.navbar-right {
  float: right;

  li {
    margin-right: 18px;
    display: inline-block;

    &:last-child {
      margin-right: 0;
    }
  }
}

.sign-up,
.social-icon {
  @include opacity(0.5);
  @include transition(opacity 0.25s);

  &:hover,
  &:focus {
    @include opacity(1);
  }
}

.sign-up {
  @include border-radius(36px);
  padding: 9px 24px;
  display: inline-block;
  background: #fff;
  color: $red;
  font-size: 18px;
  font-weight: bold;
}

.social-icon {
  display: inline-block;
  color: #fff;
  font-size: 35px;
}

/*=============================================================================
  FOOTER
=============================================================================*/
#page-footer {
  padding: $section-padding 0;
  text-align: center;
  font-size: 0.6rem;

  @include respond-to('tablet-small') {
    padding-top: 0;
    padding-bottom: $section-padding-phone;
  }
}

.thesoapcollective {
  color: $text-color;
  font-weight: bold;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

/*=============================================================================
  CONTENT
=============================================================================*/
/* ----- Backgrounds ----- */
.bg-white {
  background: #fff;
}

.bg-gray {
  background: #f2f2f2;
}

.bg-peach-gradient {
  @include background-image(linear-gradient($red, $peach));
  color: #fff;
}

.bg-green-gradient {
  @include background-image(linear-gradient($ocean, $green));
  color: #fff;
}

.bg-pink-gradient {
  @include background-image(linear-gradient($gray, $pink));
  color: #fff;
}

/* ----- Sections ----- */
.coming-soon,
.truly-social {
  text-align: center;

  section {
    padding: $section-padding 100px;
  }

  p {
    margin-bottom: $section-padding;
  }

  @include respond-to('tablet-small') {
    section {
      padding: $section-padding-phone 30px;
    }
  }
}

.truly-social {
  section {
    padding-top: $section-padding * 2;
  }

  @include respond-to('desktop') {
    section {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  @include respond-to('tablet') {
    section {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  @include respond-to('tablet-small') {
    section {
      padding-top: $section-padding-phone;
    }
  }
}

.phone-section {
  position: relative;
  overflow: hidden;

  .multi-phones & {
    height: 435px + $section-padding;
  }

  .pick-up-and-play & {
    height: 486px + $section-padding;
  }

  .become-the-hero & {
    height: 450px + $section-padding;
  }

  .dream-of-better-worlds & {
    height: 450px + $section-padding;
  }

  @include respond-to('desktop') {
    .multi-phones & {
      height: 383px + $section-padding;
    }
  }

  @include respond-to('tablet-small') {
    padding-top: $section-padding-phone;

    .multi-phones &,
    .pick-up-and-play &,
    .become-the-hero &,
    .dream-of-better-worlds & {
      height: auto;
    }
  }
}

.phone-section-left {
  text-align: left;

  @include respond-to('tablet-small') {
    text-align: center;
  }
}

.phone-section-right {
  text-align: right;

  @include respond-to('tablet-small') {
    text-align: center;
  }
}

.section-snippet {
  @include vertical-align;

  .multi-phones & {
    padding-left: 654px + 46px;
  }

  .pick-up-and-play & {
    padding-right: 368px + 86px;
  }

  .become-the-hero & {
    padding-left: 368px + 86px;
  }

  .dream-of-better-worlds & {
    padding-right: 368px + 86px;
  }

  @include respond-to('desktop') {
    .phone-section-left & {
      padding-left: $snippet-padding-tablet;
    }

    .phone-section-right & {
      padding-right: $snippet-padding-tablet;
    }

    .multi-phones & {
      padding-left: 576px - 64px + 26px;
    }
  }

  @include respond-to('tablet') {
    .phone-section-left & {
      padding-left: $snippet-padding-tablet-small;
    }

    .phone-section-right & {
      padding-right: $snippet-padding-tablet-small;
    }

    .multi-phones & {
      padding-left: 576px - 268px + 26px;
    }

    .pick-up-and-play & {
      padding-right: 368px + $phone-img-offset-tablet-small + 40px;
    }

    .become-the-hero & {
      padding-left: 368px + $phone-img-offset-tablet-small + 40px;
    }

    .dream-of-better-worlds & {
      padding-right: 368px + $phone-img-offset-tablet-small + 40px;
    }
  }

  @include respond-to('tablet-small') {
    @include vertical-align-reset;

    .phone-section-left &,
    .phone-section-right & {
      padding-left: 30px;
      padding-right: 30px;
    }

    .multi-phones & {
      padding-bottom: 383px + $section-padding-phone;
    }

    .pick-up-and-play & {
      padding-bottom: 486px + $section-padding-phone;
    }

    .become-the-hero &,
    .dream-of-better-worlds & {
      padding-bottom: 450px + $section-padding-phone;
    }
  }

  @include respond-to('phone') {
    .phone-section-left &,
    .phone-section-right & {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.section-img {
  position: absolute;
  bottom: 0;
  background-position: 0 0;
  background-repeat: no-repeat;

  .phone-section-left & {
    right: $phone-img-offset;
  }

  .phone-section-right & {
    left: $phone-img-offset;
  }

  @include respond-to('desktop') {
    .phone-section-left & {
      right: $phone-img-offset-tablet;
    }

    .phone-section-right & {
      left: $phone-img-offset-tablet;
    }
  }

  @include respond-to('tablet') {
    .phone-section-left & {
      right: $phone-img-offset-tablet-small;
    }

    .phone-section-right & {
      left: $phone-img-offset-tablet-small;
    }
  }

  @include respond-to('tablet-small') {
    .phone-section-left &,
    .phone-section-right & {
      @include translateX(-50%);
      left: 50%;
      right: auto;
    }
  }
}

.img-multi-phones {
  width: 654px;
  height: 435px;
  background-image: image-url('multi_phones.jpg');
  background-size: 654px 435px;

  @include respond-to('desktop') {
    width: 576px;
    height: 383px;
    background-size: 576px 383px;
    left: -64px !important;
  }

  @include respond-to('tablet') {
    left: -268px !important;
  }

  @include respond-to('tablet-small') {
    @include translateX(-50%);
    left: 50% !important;
    right: auto;
  }
}

.img-phone-01 {
  width: 368px;
  height: 486px;
  background-image: image-url('phone_01.png');
  background-size: 368px 486px;
}

.img-phone-02 {
  width: 368px;
  height: 450px;
  background-image: image-url('phone_02.png');
  background-size: 368px 450px;
}

.img-phone-03 {
  width: 368px;
  height: 450px;
  background-image: image-url('phone_03.png');
  background-size: 368px 450px;
}

/* ----- Mailchimp ----- */
#mc_embed_signup {
  max-width: 720px;
  margin: 0 auto;
  position: relative;

  @include respond-to('tablet-small') {
    .coming-soon & {
      margin-left: -20px;
      margin-right: -20px;
    }

    .truly-social & {
      margin-left: -10px;
      margin-right: -10px;
    }
  }
}

input[type=email] {
  @include border-radius(72px);
  @include box-shadow(0 3px 24px rgba(0,0,0,0.1));
  width: 100%;
  height: 72px;
  padding: 15px 82px 15px 38px;
  border: 2px solid #d9d9d9;
  font-size: $font-size;

  @include respond-to('desktop') {
    font-size: $font-size-tablet;
  }
}

.mc-submit-bg,
.mc-submit-bg-alt,
input[type=submit] {
  @include border-radius(68px);
  width: 68px;
  height: 68px;
  position: absolute;
  top: 2px;
  right: 2px;
}

.mc-submit-bg,
.mc-submit-bg-alt {
  @include transition(opacity 0.5s);
}

.mc-submit-bg {
  @include opacity(1);
  @include background-image(linear-gradient($red, $peach));

  .is-hovering & {
    @include opacity(0.8);
  }

  .is-valid & {
    @include opacity(0);
  }
}

.mc-submit-bg-alt {
  @include opacity(0);
  @include background-image(linear-gradient($ocean, $green));

  .is-valid & {
    @include opacity(1);
  }

  .is-valid.is-hovering & {
    @include opacity(0.8);
  }
}

input[type=submit] {
  background: image-url('arrow_right.png') no-repeat 26px center;
  background-size: 22px 36px;
  border: none;

  #mc_embed_signup.is-valid & {
    background-color: #b2cb5c;
  }
}
