// Main
$max-page-width: 1200px;
$max-p-width: 700px;
$press-nav-width: 240px;

// Fonts
$font-family: 'futura-pt', Helvetica, sans-serif;
$font-size: 24px;

// Colors
$gray: #8b99a5;
$green: #b2cb5c;
$ocean: #81b5af;
$peach: #fbac5c;
$pink: #ff4d76;
$red: #fc5a5a;
$text-color: $gray;
