$max-page-width: 1200px;
$section-padding: 54px;
$section-padding-phone: 36px;
$snippet-padding-tablet: 40px;
$snippet-padding-tablet-small: 10px;
$phone-img-offset: 0;
$phone-img-offset-tablet: 10px;
$phone-img-offset-tablet-small: -118px;

// Fonts
$font-family: 'futura-pt', Helvetica, sans-serif;
$font-size: 30px;
$font-size-small: 24px;
$text-color: #a9a9a9;

// Colors
$gray: #8b99a5;
$green: #b2cb5c;
$ocean: #81b5af;
$peach: #fbac5c;
$pink: #ff4d76;
$red: #fc5a5a;
