- btn_class = defined?(button_class) ? button_class : ''
%a.download-app-store{class: btn_class, href: 'https://itunes.apple.com/us/app/role-a-role-playing-party-game/id933599454?mt=8'} Download Role on the App Store!
