%footer.page-footer
  %section.page-section
    .footer-left
      %a{href: '/downloads/Role_Gameplay_Primer.pdf'} Pen &amp; Paper Version
      %br>
      %a{href: '/press'} Press Kit
    .footer-right
      %span.faded-text A product of
      %a{href: 'http://thesoapcollective.com', target: '_blank'} The Soap Collective
      %br>
      %span.faded-text &copy; #{Time.now.year}, All rights reserved.
