%nav.navbar
  %section.page-section
    .navbar-left
      %a.btn-nav{href: '#'} Play Trailer
      %a.btn-nav{href: '/forum'} Forums
    .navbar-right
      %ul.list-reset
        %li>
          %a.icon-twitter-circled.social-icon{href: 'https://twitter.com/roleapp', target: '_blank'}
        %li>
          %a.icon-facebook-circled.social-icon{href: 'https://facebook.com/roleapp', target: '_blank'}
        %li>
          %a.icon-mail-circled.social-icon{href: 'mailto:hello@roleapp.com'}
