---
layout: splash_layout
---

%section.page-section
  %h1 Role - Imagine Together

  .mobile-show
    = partial 'partials/app_store_badge'
    .mailing-list
      %p Looking for Android?
      %a{href: 'http://eepurl.com/6k_wT'} Join our mailing list!

  %h2 A Storytelling Party Game!
  %p Role is all about your story. Gather your friends, become fantastic characters, and go on wild adventures. The only limit is your imagination.

  .mobile-hide
    = partial 'partials/app_store_badge'
    .mailing-list
      %p Looking for Android?
      %a{href: 'http://eepurl.com/6k_wT'} Join our mailing list!
