%header#page-header.bg-peach-gradient
  %section
    .navbar
      .navbar-left
        %a.sign-up{href: '#'} Sign up
      .navbar-right
        %ul.list-reset
          %li>
            %a.icon-twitter-circled.social-icon{href: 'https://twitter.com/roleapp', target: '_blank'}
          %li>
            %a.icon-facebook-circled.social-icon{href: 'https://facebook.com', target: '_blank'}
    %h1 Role - Imagine Together

%article#page-content
  .multi-phones.bg-white
    %section.phone-section.phone-section-right
      .section-snippet
        %h2.pink A group storytelling adventure game!
        %p.gray Role is all about your story. Gather your friends, become fantastic characters, and go on wild adventures. The only limit is your imagination.
      .img-multi-phones.section-img

  .coming-soon.bg-gray
    %section
      %h2.gray Coming Soon to iOS
      %p.gray
        Role will be launching on the App Store soon, but you can get started today! Sign up for e-mail updates and we’ll send you info explaining how to play the game with only a pencil and paper
        = succeed ':' do
          %strong for free
      = partial 'partials/mailchimp'

  .pick-up-and-play.bg-green-gradient
    %section.phone-section.phone-section-left
      .section-snippet
        %h2 Pick up and play
        %p
          Any time, anywhere. Role is built to be simple to learn and fast to play. Grab your friends and adventure on your lunch break, or get everyone together for a long story on the weekend.
          %br
          %br
          Role gives you everything you need to tell your stories and have fun. No need to make it complicated.
      .img-phone-01.section-img

  .become-the-hero.bg-white
    %section.phone-section.phone-section-right
      .section-snippet
        %h2.red Become the hero
        %p.peach
          Who do you want to be? Do you dream of jetpacks and laser blasters? Maybe you’re a valiant knight on an epic quest, or an alien mystic consumed by secret power.
          %br
          %br
          In Role, nothing and no one is impossible. Become anyone, do anything. It’s your story.
      .img-phone-02.section-img

  .dream-of-better-worlds.bg-pink-gradient
    %section.phone-section.phone-section-left
      .section-snippet
        %h2 Dream of better worlds
        %p
          Where will you go? Travel to distant solar systems, explore the keep of a mighty dragon, protect your city from giant kaiju, or create your own world from scratch.
          %br
          %br
          Take your friends wherever your imagination leads you. With Role, every world is at your fingertips.
      .img-phone-03.section-img

  .truly-social.bg-white
    %section
      %h2.green A truly social game
      %p.ocean
        Less tapping, more talking. Role is all about face-to-face experiences. It’s a party game, a family game, an oh-my-god-this-road-trip-is-so-long game. It’s a game to bring people together.
        %br
        %br
        Grab your best friends, grab your parents, grab a total stranger.
        %br
        %strong Let’s imagine together.
      = partial 'partials/mailchimp'

%footer#page-footer
  %p
    A product of
    %br
    %a.thesoapcollective{href: 'http://thesoapcollective.com', target: '_blank'} The Soap Collective
    %br
    %br
    &copy; 2014, All rights reserved.
