.confirm-subscription.bg-gray
  %section.page-section
    %h2.gray Subscription Confirmed
    %p.gray
      Thanks again! Now you’ll be among the first to hear about Role’s iOS launch, gameplay updates, and featured stories.
      %br>
      %br>
      As promised, you can start playing Role for free right now:
    %a.btn-main{href: '/downloads/Role_Gameplay_Primer.pdf'} Play Role!
